snippet epiheader
	/*
	** EPITECH PROJECT, `system("date +%Y -d 'last year'")`
	** `expand("%:t")`
	** File description:
	** ${1:file_description}
	*/

snippet =>
	(${1}) => { ${2} }

snippet =>*
	(${1}) => {
		 ${2} 
	}
