snippet title
	 `expand("%:t:r")`

	### `system("date \"+%a %d %B\"")`
	**`system("date +%T")`**

snippet time
	**`system("date \"+%T\"")`**

snippet date
	= `system("date +'%A %d %B %Y'")` =

snippet sep
	---------------------------------------------------------------------------
